/* Base Styles */

body {
    background-color: cornflowerblue;
}

h1 {
    color: deeppink;
}

h2 {
    color: crimson;
}
h3 {
    color: crimson;
}

p {
    font-family: 'Black And White Picture', sans-serif;
}