body {
    margin-right: -80px;
}
.ribbon {
    background-color: chartreuse;
    width: 300px;
    height: 60px;
    float: right;
    text-align: center;
    transform: rotate(45deg);
    padding-top: 10px;
    font-size: 2em;

}

a {
    text-decoration: none;
    padding-left: 1em;
    color: black;
    
}