#speech-bubble {
    width: 7.25rem;
    height: 7.25rem;
    border-radius: 10%;
    background-color: #bada55;
    position: relative;
}

#speech-bubble:before {
    position: absolute;
    top: 110px;
    right: 80px;
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid;
    border-bottom: 30px solid transparent;






}